<table>
        <thead>
          <tr>
            <th>Tools</th>
            <th>Prompts</th>
            <th>Resources</th>
            <th>Logging</th>
            <th>Completions</th>
            <th>Tasks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{{capability_tag "Tools" capabilities.tools (len tools) null}}}</td>
            <td>{{{capability_tag "Prompts" capabilities.prompts (len prompts) null }}}</td>
            <td>{{{capability_tag "Resources" capabilities.resources (len resources) null}}}</td>
            <td>{{{capability_tag "Logging" capabilities.logging null null }}}</td>
            <td>{{{capability_tag "Completions" capabilities.completions null null}}}</td>
            <td>{{{capability_tag "Tasks" capabilities.tasks null null }}}</td>
          </tr>
        </tbody>
      </table>
