{{#if resources}}
## 📄 Resources ({{len resources}})

    {{#each resources}}

- **{{{this.name}}}**
  {{#if this.description}}
  - {{{format_text this.description "<br/>" "['``']"}}}{{/if}}
    {{#if this.uri}}
  - URI: <a>{{this.uri}}</a> <i>{{#if this.mimeType}}({{{this.mimeType}}}){{/if}}</i>
    {{/if}}
    {{/each}}
{{/if}}