{{#if resource_templates}}
## 🧩 Resource Templates ({{len resource_templates}})

{{#each resource_templates}}

- **{{{this.name}}}**
  {{#if this.description}}
  - {{{format_text this.description "<br/>" "['``']"}}}
    {{/if}}
    {{#if this.uri}}
  - URI: <a>{{this.uriTemplate}}</a> {{#if this.mimeType}}<i>({{{this.mimeType}}})</i>{{/if}}
    {{/if}}
    {{/each}}
{{/if}}