{{#if resource_templates}}
## 🧩 Resource Templates ({{len resource_templates}})

<table style="text-align: left;">
<thead>
    <tr>
        <th style="width: auto;"></th>
        <th style="width: auto;">Name</th>
        <th style="width: auto;">Uri Template</th>
        <th style="width: auto;">Description</th>
    </tr>
</thead>
<tbody style="vertical-align: top;">
    {{#each resource_templates}} 
        <tr>
            <td>{{plus_one @index}}.</td>
            <td>
                <code><b>{{this.name}}</b></code>
            </td>
            <td>
                <a>{{this.uriTemplate}}</a> {{#if this.mimeType}}<i>({{{this.mimeType}}})</i>{{/if}}
            </td>
            <td>{{{format_text this.description "<br/>" "['``']"}}}</td>
        </tr>
    {{/each}}
</tbody>
</table>
{{/if}}
